html, body {
    overflow: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.Overlay {
    position: relative;
    width: 100%;
  
    /*animation: fadein 2s;*/
  }
  
  .team-left h2{
    color: white;
    font: bold 24px Helvetica;
    font-size: 40px;
    position: absolute;
    top: -23px;
    left: 439px;
    width: 130px;
    text-align: center;
  }
  
  .team-left h1{
    color: white;
    font: bold 24px Helvetica;
    font-size: 56px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    top: -23px;
    left: 353px;
    width: 32px;
    animation: fadein 0.5s;
  }
  
  .team-right h2{
    color: white;
    font: bold 24px Helvetica;
    font-size: 40px;
    position: absolute;
    top: -23px;
    left: 1364px;
    width: 130px;
    text-align: center;
  }
  
  .team-right h1{
    color: white;
    font: bold 24px Helvetica;
    font-size: 56px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    top: -23px;
    left: 1548px;
    width: 32px;
    animation: fadein 0.5s;
  }
  
  .baron-timer{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 1650px;
  }

#slideshow {
  position: absolute;
  top: 962px;
  left: 0px;
  width: 304px;
  height: 118px;
}

#slideshow > div { 
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
  
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @keyframes flip {
    from { transform: rotateY(0deg);  }
    to   { transform: rotateY(180deg);}
  }